@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Disk Inventory Support Team</h1>
    <p>Inventory management software for the motion picture enthusiast.</p>
    <h3>Admin</h3>
    <div class="list-group">
        <a asp-controller="Borrower" asp-action="Index" class="list-group-item">Manage Borrower</a>
        <a asp-controller="Disk" asp-action="Index" class="list-group-item">Manage Disk</a>
        <a asp-controller="DiskHasBorrower" asp-action="Index" class="list-group-item">Manage Checkouts</a>
    </div>
</div>
